.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}

.footer .logo-div {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-bottom: 10px;
}

.container-fluid {
  /* height: 80%; */
}
.container-first {
  margin-top: 10%;
  height: 100%;
}